*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-bg:hsl(233, 47%, 7%);
    --card-bg:hsl(244, 38%, 16%);
    --tertiary-color:hsl(277, 64%, 61%);
}

main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 330px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  
  display: flex;
  flex-direction: column;
  height: 500px;
}

.container .gradient{
    background-image: linear-gradient(hsla(277, 64%, 61%, 0.39)), url('image/image-header-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

section{
    text-align: center;
    background-color: var(--card-bg);
    margin-top: -4px;
    padding: 0.3rem 0.8rem;
    color: #fff;
    border-radius: 0 0 10px 10px;
}

section h1{
    margin-bottom: 0.5rem;
    padding-top: 0.3rem;
}

span{
    color: var(--tertiary-color);
}

section p{
    margin-bottom: 1.4rem;
    opacity: 0.7;
    font-size: small;
}

.data{
    padding-bottom: 0.8rem;
}

.data h6{
    padding-top: 0.1rem;
    opacity: 0.7;
}

@media screen and (min-width:750px){
    
main{
    display: flex;
}

    .container{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: flex;
        flex-direction: row-reverse;
        height: 320px;
        width: 650px;
        
      }

    .container .gradient{
        background-image: linear-gradient(hsla(277, 64%, 61%, 0.39)), url('image/image-header-desktop.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 10px 10px 0;
        width: 700px;
    }


    section{
        width:100%;
        margin-top: 0px;
        padding: 2rem 4rem 0rem 2rem;
        border-radius: 10px 0 0 10px;
    }

    .analysis{
        display: flex;
        justify-content: space-between;
        margin-top: 2.2rem;
    
    }

    section h1{
        padding-bottom: 0.5rem;
    }

    section, h1 p{
        text-align: left;

    }

    section p{
        opacity: 0.5;
        font-size: 0.9rem;
    }

    .data h6{
        opacity: 0.5;
    }
}